# Python
__pycache__/
*.py[cod]
*$py.class
venv/
*.so

# Data
data/raw/*
data/processed/*
*.csv
*.parquet

# Jupyter
.ipynb_checkpoints/

# Environment
.env
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
